<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <!--图片相似度-->
    <add key="similarity" value="80"/>
    <!--prompt坐标left值，通过人脸框倍数计算，人脸框left值 * _promptLeft-->
    <add key="promptLeft" value="1.2"/>
    <!--prompt坐标top值，通过人脸框倍数计算，人脸框top值 - (人脸框高度 * _promptTop)-->
    <add key="promptTop" value="0.75"/>
    <!--prompt宽度值，通过人脸框倍数计算，人脸框宽度 * promptWidth-->
    <add key="promptWidth" value="0.75"/>
    <!--prompt高度值，通过人脸框倍数计算，人脸框高度 * promptHeight-->
    <add key="promptHeight" value="0.75"/>
    <!--识别框边距，在识别框内得人脸才会识别-->
    <add key="margin" value="20"/>
    <!--识别时间，单位为秒-->
    <add key="analysisTime" value="5"/>
  </appSettings>
</configuration>
