<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <!--摄像头分辨率高-->
    <add key="frameHeight" value="640"/>
    <!--摄像头分辨率宽-->
    <add key="frameWidth" value="720"/>
    <!--最小识别人脸大小-->
    <add key="minRecognitionRectangle" value="50"/>
    <!--prompt宽度值，通过人脸框倍数计算，人脸框宽度 * promptWidth-->
    <add key="promptWidth" value="441"/>
    <!--prompt高度值，通过人脸框倍数计算，人脸框高度 * promptHeight-->
    <add key="promptHeight" value="226"/>
    <!--识别框边距，在识别框内得人脸才会识别-->
    <add key="margin" value="20"/>
    <!--识别时间，单位为秒-->
    <add key="analysisTime" value="1"/>
    <add key="appid" value=""/>
    <add key="sdkkey" value=""/>
  </appSettings>
</configuration>
