<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <logger name="logerror">
    <level value="ALL" />
    <appender-ref ref="ErrorAppender" />
  </logger>
  <logger name="loginfo">
    <level value="ALL" />
    <appender-ref ref="InfoAppender" />
  </logger>

  <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs\\error\\" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd'.log'" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="时间：%d | 线程：%t | 级别：%-5p | %m%n" />
    </layout>
  </appender>

  <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
    <file value="logs\\info\\" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="yyyyMMdd'.log'" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="时间：%d | 线程：%t | 级别： %-5p | %m%n" />
    </layout>
  </appender>
</log4net>